body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dce0d9;
    height: 100vh;
}
.card-body {
    padding: 20px;
    border-radius: 20px;
    min-width: 400px;
    height: 60vh;
    background: rgb(251,246,239);
    background: linear-gradient(180deg, rgba(251,246,239,1) 0%, rgba(249,223,178,1) 24%, rgba(242,219,186,1) 54%, rgba(234,215,195,1) 83%);
}

.search {
    height: 2rem;
   padding: 10px;
}

#cityInput {
    height: 100%;
    width: 80%;
    border-radius: 10px;
}

button {
    height: 100%;
    width: 2.5rem;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #bbad9e;
    border: none;
}

i {
    font-size: 1.2rem;
    color: #fbf6ef;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img {
    height: 150px;
    width: 150px;
}
