body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* align-items: flex-start; */
    margin: 10px 0px;
    padding: 10px 0px;
    border-top: 2px solid #333;
}

.total-score {
    width: 400px;
    display: flex;
}


.current-score {
    width: 250px;
}

.score {
    text-align: center;
    margin: 0px 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.dice-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dice {
    margin: 0 20px;
}

.die {
    width: 80px;
    height: 80px;
    margin: 0 10px;
}

.score-value {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
    .total-score {
        flex-direction: column;
        align-items: center;
    }

    .current-score {
        width: 100%; /* Make the current score section full width */
    }

    .dice-container {
        flex-direction: column;
        align-items: center;
    }

    .die {
        width: 60px; /* Adjust die size for smaller screens */
        height: 60px;
    }
}

/* Additional styles for very small screens */
@media screen and (max-width: 480px) {
    .total-score,
    .current-score {
        width: 100%; /* Make the total and current score sections full width */
    }

    .score {
        margin: 10px 0; /* Adjust margin for smaller screens */
    }
}
