.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    height: 21px;
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1.5px solid grey;
}

#search-btn {
    height: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    border: 1.5px solid grey;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(7,80px);
}

.img-container {
    grid-column: 1 / span 3;
    grid-row: 1 / span 7;
}

#poster-img {
    height: 100%;
    width: 100%;
}

#title {
    grid-column: 4 / span 2;
    grid-row: 1;
}

#genre {
    grid-column: 4;
    grid-row: 2;
}

#actors {
    grid-column: 4 / span 3;
    grid-row: 4;
}

#rating {
    grid-column: 6;
    grid-row: 1;
}

#director{
    grid-column: 5;
    grid-row: 2;
}

#plot {
    grid-column: 4 / span 3;
    grid-row: 3;
}

#runtime {
    grid-column: 4;
    grid-row: 5;
}

#type {
    grid-column: 4;
    grid-row: 6;
}

#rated {
    grid-column: 4;
    grid-row: 7;
}