body{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f575c;
}

button {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: transparent;
}

.container {
    height: 80%;
}

#dogPhoto {
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
