body {
    background: rgb(231,58,58);
    background: linear-gradient(270deg, rgba(231,58,58,1) 18%, rgba(177,47,123,1) 54%, rgba(131,58,180,1) 93%);
}

.form-wrapper {
    height: 500px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: white;
}

#title {
    margin: 0;
}

input {
    height: 30px;
    width: 80%;
    margin: 20px;
    border: none;
    border-bottom: 2px solid rgb(148, 148, 148);
}

.btn {
    margin: 20px;
    cursor: pointer;
    height: 40px;
    width: 40%;
    border-radius: 10px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}