body {
    height: 100vh;
    background-color: var(--base);   
}

:root {
    --base: #9BBEC8;
  }

.container {
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}

label {
    font-size: 2rem;
    margin-right: 1rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

input {
    height: 50px;
    width: 120px;
}