body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;   
}

.container {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 9%, rgba(150,83,185,1) 46%, rgba(252,70,107,1) 90%);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#joke {
    margin: 10px;
    padding: 10px;
}


#btn {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  touch-action: manipulation;
}

#btn:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  #btn {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}