body {
    height: 80vh;
    background-color: #284b63d0;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #d9d9d9;
    min-width: 30%; 
    max-height: 50%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    text-align: center; 
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.title {
    font-size: 3rem;
    letter-spacing: .1rem;
}

.number {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.buttons-container {
    margin: 1rem;
}

button {
    margin: .5rem;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    font-size: .9rem;
    font-weight: bold;
    line-height: 1.25rem;
    letter-spacing: .1rem;
    padding: .75rem 1rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
}


