
body {
    height: 100vh;
   background-color: #5585b5;
}

.container {
    text-align: center;
    transform: translateX(-50%, -50%);
}

.title {
    font-size: 40px;
    
}

.number {
    font-size: 30px;
}
button {
    height: 40px;
    width: 90px;
    margin: 10px;
    border-radius: 15%;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    /* background-color: #142d4c; */
}